{% extends "core/layout.html" %}

{% load static %}

{% block body %}
    <div style="margin: 120px;">
        <center>
            <span class="d-none d-lg-block" style="font-size: 6rem;"><i class="bi bi-hammer"></i> BIENVENIDO!</span>

            <img src="{% static 'core/img/logo.jpg' %}" width="30%" style="margin: 10px; border-radius: 20px;">

            <br>

            {% if not user.is_authenticated %}
                <a class="btn btn-success btn-lg" href="{% url 'login' %}" role="button">Iniciar sesión</a>
            {% endif %}
        </center>
    </div>
{% endblock %}